.clock {
    background: rgb(60, 63, 60);
    color: white;
    padding: 10px;
    word-wrap: break-word;
    text-align: center;
    margin: 10px;
}

.header {
    padding-left: 10px;
    font-size: 20px;
}

.flexContainerCentered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    height: 24px;
}
